<div>
  <table mat-table [dataSource]="dataSource" class="table">
    <ng-container matColumnDef="number">
      <th mat-header-cell *matHeaderCellDef>Number</th>
      <td mat-cell *matCellDef="let element">{{ element.number }}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let element">{{ element.description }}</td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let element">{{ element.Date }}</td>
    </ng-container>

    <ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef>User</th>
      <td mat-cell *matCellDef="let element">{{ element.User }}</td>
    </ng-container>

    <ng-container matColumnDef="significance">
      <th mat-header-cell *matHeaderCellDef>Significance</th>
      <td mat-cell *matCellDef="let element">{{ element.Significance }}</td>
    </ng-container>

    <ng-container matColumnDef="solvingDate">
      <th mat-header-cell *matHeaderCellDef>Solving date</th>
      <td mat-cell *matCellDef="let element">{{ element.SolvingDate }}</td>
    </ng-container>

    <ng-container matColumnDef="verifies">
      <th mat-header-cell *matHeaderCellDef>Verifies</th>
      <td mat-cell *matCellDef="let element">{{ element.Verifies }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary">
          <mat-icon>add</mat-icon>
        </button>
      </th>

      <td mat-cell *matCellDef="let row; let i = index">
        <button mat-icon-button color="primary">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>

        <button mat-icon-button color="warn">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
