<div class="about-section">
    <h1>About Us Page</h1>
    <p>Some text about who we are and what we do.</p>
    <p>Resize the browser window to see that this page is responsive by the way.</p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="../../../assets/images/team1.jpg" alt="Jane" style="width:100%">
        <div class="container">
          <h2>Jane Doe</h2>
          <p class="title">CEO & Founder</p>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex, deserunt beatae hic explicabo illum eligendi necessitatibus cum asperiores distinctio iste unde aperiam voluptate? Inventore minus temporibus eius, cupiditate assumenda amet laudantium, ut numquam natus accusantium ea officia libero eum. Laudantium rerum expedita, ab molestiae est aut illo ipsum libero sint dolor porro ullam doloremque sed accusamus quos impedit reprehenderit sapiente nesciunt sequi ducimus inventore provident blanditiis? Fuga dicta quis rem delectus laborum inventore quod, facilis eligendi et ab quam nemo laudantium voluptatibus obcaecati veritatis tempora. Harum iste eos dolorum numquam. Ratione tenetur quisquam voluptatibus obcaecati ipsam nisi quam commodi assumenda.</p>
          <p>jane@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="../../../assets/images/team2.jpg" alt="Mike" style="width:100%">
        <div class="container">
          <h2>Mike Ross</h2>
          <p class="title">Art Director</p>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa eius enim modi quam voluptates! Quae quisquam inventore tempora, eligendi consequatur amet unde nesciunt numquam quaerat voluptas possimus, tempore, distinctio in dicta quod mollitia rem fugiat enim tenetur recusandae corrupti reprehenderit modi pariatur saepe? Eum, tempore eos, quam amet, libero minima iste asperiores architecto iure vel magni quae? Numquam nam asperiores doloremque totam incidunt, temporibus, omnis dolore minima commodi quam labore impedit sit, eveniet dicta? Hic laboriosam corporis corrupti quam, mollitia officia esse voluptate dolorem a doloremque ducimus molestiae tempora reprehenderit earum sapiente est tenetur rem neque similique molestias excepturi quod?</p>
          <p>mike@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="../../../assets/images/team3.jpg" alt="John" style="width:100%">
        <div class="container">
          <h2>John Doe</h2>
          <p class="title">Designer</p>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo eligendi sint, eius est provident officia. Impedit suscipit at perspiciatis eveniet eligendi repellat exercitationem magnam voluptatem quos repellendus? Voluptas eum dolore sunt officia omnis nobis cum saepe nisi ad ratione magni dolor, vitae ipsam sed vero error. Et, non quam odio illum fuga veniam doloremque mollitia.</p>
          <p>john@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>