<div class="header">
  <div class="nav-with-logo">
    <img class="logo" src="../../../../../assets/images/tiac.png" alt="tiac group doo" />
    <nav>
      <ul class="nav-links">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/incident" *ngIf="userService.getToken() !== ''">Incidents</a></li>
        <li><a routerLink="/report" *ngIf="userService.getToken() !== ''">Reports</a></li>
        <li><a routerLink="/user" *ngIf="userService.getToken() !== ''">Users</a></li>
        <li><a routerLink="/about">About</a></li>
      </ul>
    </nav>
  </div>
  <div class="buttons-wrapper">
    <a routerLink="/login"><button *ngIf="userService.getToken() === ''">Login</button></a>
    <a routerLink="/login"><button *ngIf="userService.getToken() !== ''" (click)="logout()">Logout</button></a>
  </div>
</div>