<div class="header">
  <div class="nav-with-logo">
    <img class="logo" src="../../../../../assets/images/tiac.png" alt="tiac group doo" />
    <nav>
      <ul class="nav-links">
        <li><a routerLink="/incident">Incident</a></li>
        <li><a routerLink="/report">Report</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/category">Category</a></li>
      </ul>
    </nav>
  </div>
  <div class="buttons-wrapper">
    <a routerLink="/login"><button>Login</button></a>
    <a routerLink="/register"><button>Register</button></a>
  </div>
</div>