<header>
  <div class="container">
    <a
      ><img
        [routerLink]="['/']"
        src="../../../assets/images/tiac.png"
        style="width: 100px; height: 40px; cursor: pointer"
        alt="tiac incidents"
    /></a>
    <nav>
      <a routerLink="/">Home</a>
      <a routerLink="/incident">Incident</a>
      <a routerLink="/report">Report</a>
      <a routerLink="/about">About</a>
    </nav>
    <div class="rightSide">
      <button routerLink="/login">Login</button>
      <button routerLink="/register">Register</button>
    </div>
  </div>
</header>
