<div *ngIf="showSpinner" id="preloader" class="loader-wrapper">
    <span class="loader"><span class="loader-inner"></span></span>
  </div>


  <mat-toolbar style="background-color: #c50d01; color: white">
    <span class="title-center">Categories</span>
  </mat-toolbar>
  <div *ngIf="!showSpinner">
    <mat-form-field  style="background-color: white; color: black; font-size: 16px; text-align: center;">
      <input
      matInput
      placeholder="Search..."
      (keyup)="applyFilter($event)"
      />
  </mat-form-field>
  <div class="container mat-elevation-z8">



    <mat-table #table [dataSource]="dataSource" class="mat-cell">
      <ng-container matColumnDef="categoryName">
        <mat-header-cell *matHeaderCellDef>Category</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.categoryName }}</mat-cell>
      </ng-container>

      <!-- Actions -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
          <button (click)="openDialog(1)" mat-icon-button color="success">
            <mat-icon>add</mat-icon>
          </button>
        </mat-header-cell>
        <mat-cell *matCellDef="let row; let i = index">
          <button
            (click)="openDialog(2, row.categoryId, row.categoryName)"
            mat-icon-button
            color="primary"
          >
            <mat-icon aria-label="Edit">edit</mat-icon>
          </button>
          <button
            (click)="openDialog(3, row.categoryId, row.categoryName)"
            mat-icon-button
            color="warn"
          >
            <mat-icon aria-label="Delete">delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns">
        <mat-row
          style="cursor: pointer"
          *matRowDef="let row; columns: displayedColumns"
        ></mat-row>
      </mat-header-row>
    </mat-table>

    <mat-paginator
      showFirstLastButtons
      [length]="categoriesCount"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 25, 100]"
      (page)="onPageChange($event)"
    >
    </mat-paginator>
  </div>
</div>
